# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-core
azure-cognitiveservices-speech
python-dotenv
openai
pydub
opencensus-ext-azure==1.1.13
ffmpeg-python==0.2.0
azureml  
azure-ai-ml
aiohttp

# moviepy==1.0.3 
# numpy>=1.18.1 
# imageio>=2.5.0 
# decorator>=4.3.0
# tqdm>=4.0.0
# Pillow>=7.0.0 
# scipy>=1.3.0
# pydub>=0.23.0
# audiofile>=0.0.0
# opencv-python>=4.5